<div class="wrapper">
    <ul class="facebook-shortcuts">
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-user-fill"></i>
            <span class="facebook-shortcuts__shortcut__text">Friends</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-group-2-line"></i>
            <span class="facebook-shortcuts__shortcut__text">Groups</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-movie-line"></i>
            <span class="facebook-shortcuts__shortcut__text">Watch</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-store-2-line"></i>
            <span class="facebook-shortcuts__shortcut__text">Marketplace</span>
        </li>
        <li class="facebook-shortcuts__shortcut">
            <i class="ri-history-fill"></i>
            <span class="facebook-shortcuts__shortcut__text">Memories</span>
        </li>
    </ul>
    <h4 class="seprater">Your Shortcuts</h4>
    <ul class="facebook-favorites">
        <li class="facebook-favorites__favorite">
            <div class="favorite-image">
                <img src="https://picsum.photos/id/560/64/64" alt="">
            </div>
            <span class="favorite-text">Flutter Comunity</span>
        </li>
        <li class="facebook-favorites__favorite">
            <div class="favorite-image">
                <img src="https://picsum.photos/id/350/64/64" alt="">
            </div>
            <span class="favorite-text">Flutter Developer</span>
        </li>
        <li class="facebook-favorites__favorite">
            <div class="favorite-image">
                <img src="https://picsum.photos/id/50/64/64" alt="">
            </div>
            <span class="favorite-text">England</span>
        </li>
        <li class="facebook-favorites__favorite">
            <div class="favorite-image">
                <img src="https://picsum.photos/id/12/64/64" alt="">
            </div>
            <span class="favorite-text">Photoshop</span>
        </li>
        <li class="facebook-favorites__favorite">
            <div class="favorite-image">
                <img src="https://picsum.photos/id/223/64/64" alt="">
            </div>
            <span class="favorite-text">Web Development</span>
        </li>
    </ul>
</div>