<div class="wrapper">
    <div class="facebook-sponsers">
        <h4>Sponserd</h4>
        <div class="facebook-sponsers__sponser">
            <img src="images/sponser-1.jpg" alt="" class="facebook-sponser__sponser--image">
            <div class="facebook-sponser__sponser--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellat autem facere aliquam iure similique.</div>
        </div>
        <div class="facebook-sponsers__sponser">
            <img src="images/sponser-2.png" alt="" class="facebook-sponser__sponser--image">
            <div class="facebook-sponser__sponser--text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt debitis, ratione modi tenetur in distinctio?</div>
        </div>
    </div>
    <h4 class="sperater">Your Pages</h4>
    <div class="facebook-pages">
        <div class="facebook-pages__page">
            <img src="/images/Flutter-1024x751.png" alt="" class="facebook-page__page--image">
            <div class="facebook-page__page--text">Flutter</div>
        </div>
        <div class="facebook-pages__page">
            <img src="/images/web.jpeg" alt="" class="facebook-page__page--image">
            <div class="facebook-page__page--text">Web</div>
        </div>
        <div class="facebook-pages__page">
            <img src="/images/WordPress-Picture.jpg" alt="" class="facebook-page__page--image">
            <div class="facebook-page__page--text">Wordpress</div>
        </div>
    </div>
    <h4 class="sperater">Contacts</h4>
    <div class="facebook-contacts">
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/1/64/64" alt="" class="facebook-sponser__sponser--image">
            <div class="facebook-contact__contact--text">John Doe</div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/25/64/64" alt="" class="facebook-sponser__sponser--image">
            <div class="facebook-contact__contact--text">Sami Ozel</div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/50/64/64" alt="" class="facebook-sponser__sponser--image">
            <div class="facebook-contact__contact--text">Maria Karim</div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/75/64/64" alt="" class="facebook-sponser__sponser--image">
            <div class="facebook-contact__contact--text">Moe Salah</div>
        </div>
        <div class="facebook-contacts__contact">
            <img src="https://picsum.photos/id/100/64/64" alt="" class="facebook-sponser__sponser--image">
            <div class="facebook-contact__contact--text">Obada Majran</div>
        </div>
    </div>
</div>