<div class="wrapper">
    <div class="stories">
        <div class="story story-1">
            <img src="https://picsum.photos/id/33/64/64" alt="user image">
            <div class="story__username">Thomas Hary</div>
        </div>
        <div class="story story-2">
            <img src="https://picsum.photos/id/55/64/64" alt="user image">
            <div class="story__username">Nour Halal</div>
        </div>
        <div class="story story-3">
            <img src="https://picsum.photos/id/66/64/64" alt="user image">
            <div class="story__username">Samer Saab</div>
        </div>
        <div class="story story-4">
            <img src="https://picsum.photos/id/77/64/64" alt="user image">
            <div class="story__username">Hazem Essa</div>
        </div>
        <div class="story story-5">
            <img src="https://picsum.photos/id/88/64/64" alt="user image">
            <div class="story__username">majed Saleh</div>
        </div>
        <div class="story story-6">
            <img src="https://picsum.photos/id/99/64/64" alt="user image">
            <div class="story__username">Ahmad Bash</div>
        </div>
    </div>
    <div class="create-post">
        <div class="input-box__text">
            <img src="https://picsum.photos/id/500/64/64" alt="" class="create-post__image">
            <label for="create-post">
                <input type="text" id="create-post" placeholder="What's On Your Mind , Mohammad ?">
            </label>
        </div>
        <div class="create-post__buttons">
            <div class="create-post__buttons__button">
                <i class="ri-video-add-fill"></i>
                <span>Live Video</span>
            </div>
            <div class="create-post__buttons__button">
                <i class="ri-image-line"></i>
                <span>Photo/Video</span>
            </div>
            <div class="create-post__buttons__button">
                <i class="ri-emotion-happy-line"></i>
                <span>Feeling/Activity</span>
            </div>
        </div>
    </div>
    <div class="create-room">
        <div class="create-room__button">
            <i class="ri-video-add-fill"></i>
            <span>Create Room</span>
        </div>
        <div class="create-room__images">
            <img src="https://picsum.photos/id/501/64/64" alt="" class="create-post__image">
            <img src="https://picsum.photos/id/502/64/64" alt="" class="create-post__image">
            <img src="https://picsum.photos/id/503/64/64" alt="" class="create-post__image">
            <img src="https://picsum.photos/id/504/64/64" alt="" class="create-post__image">
            <img src="https://picsum.photos/id/505/64/64" alt="" class="create-post__image">
            <img src="https://picsum.photos/id/506/64/64" alt="" class="create-post__image">
            <img src="https://picsum.photos/id/507/64/64" alt="" class="create-post__image">
            <img src="https://picsum.photos/id/508/64/64" alt="" class="create-post__image">
            <img src="https://picsum.photos/id/509/64/64" alt="" class="create-post__image">
            <img src="https://picsum.photos/id/510/64/64" alt="" class="create-post__image">
        </div>
    </div>
    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="https://picsum.photos/id/301/64/64" alt="" >
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Mohammad Miri</div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privecy"><i class="ri-earth-line"></i></span>
                    <div class="date">2d ago</div>
                </div>
            </div>
            <div class="news-feed__header__options">...</div>
        </header>
        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dignissimos maiores quod voluptatem accusamus enim beatae sunt delectus ipsum praesentium.</p>
            <img class="news-feed__feed__image" src="https://picsum.photos/id/327/600/340" alt="amet">
        </section>
        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__footer__comments">19 comments</div>
        </footer>
        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <img src="https://picsum.photos/id/500/64/64" alt="" class="create-post__image">
                <label for="create-id">
                    <input type="text" id="create-id" placeholder="Comment as Mohammd?">
                </label>
            </div>
        </div>
    </div>
    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="https://picsum.photos/id/65/64/64" alt="" >
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Sameh Hasan</div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privecy"><i class="ri-earth-line"></i></span>
                    <div class="date">2d ago</div>
                </div>
            </div>
            <div class="news-feed__header__options">...</div>
        </header>
        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dignissimos maiores quod voluptatem accusamus enim beatae sunt delectus ipsum praesentium.</p>
            <img class="news-feed__feed__image" src="https://picsum.photos/id/265/600/340" alt="amet">
        </section>
        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__footer__comments">19 comments</div>
        </footer>
        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <img src="https://picsum.photos/id/65/64/64" alt="" class="create-post__image">
                <label for="create-id">
                    <input type="text" id="create-id" placeholder="Comment as Mohammd?">
                </label>
            </div>
        </div>
    </div>
    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="https://picsum.photos/id/20/64/64" alt="" >
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Tarek Habib</div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privecy"><i class="ri-earth-line"></i></span>
                    <div class="date">2d ago</div>
                </div>
            </div>
            <div class="news-feed__header__options">...</div>
        </header>
        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dignissimos maiores quod voluptatem accusamus enim beatae sunt delectus ipsum praesentium.</p>
            <img class="news-feed__feed__image" src="https://picsum.photos/id/400/600/340" alt="amet">
        </section>
        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__footer__comments">19 comments</div>
        </footer>
        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <img src="https://picsum.photos/id/20/64/64" alt="" class="create-post__image">
                <label for="create-id">
                    <input type="text" id="create-id" placeholder="Comment as Mohammd?">
                </label>
            </div>
        </div>
    </div>
    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="https://picsum.photos/id/140/64/64" alt="" >
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Ahmad Arab</div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privecy"><i class="ri-earth-line"></i></span>
                    <div class="date">2d ago</div>
                </div>
            </div>
            <div class="news-feed__header__options">...</div>
        </header>
        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dignissimos maiores quod voluptatem accusamus enim beatae sunt delectus ipsum praesentium.</p>
            <img class="news-feed__feed__image" src="https://picsum.photos/id/335/600/340" alt="amet">
        </section>
        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__footer__comments">19 comments</div>
        </footer>
        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <img src="https://picsum.photos/id/140/64/64" alt="" class="create-post__image">
                <label for="create-id">
                    <input type="text" id="create-id" placeholder="Comment as Mohammd?">
                </label>
            </div>
        </div>
    </div>
    <div class="news-feed">
        <header class="news-feed__header">
            <div class="news-feed__header__post-userimage">
                <img src="https://picsum.photos/id/302/64/64" alt="" >
            </div>
            <div class="news-feed__header__post-meta">
                <div class="news-feed__header__post-meta__name">Nour Haddad</div>
                <div class="news-feed__header__post-meta__info">
                    <span class="privecy"><i class="ri-earth-line"></i></span>
                    <div class="date">2d ago</div>
                </div>
            </div>
            <div class="news-feed__header__options">...</div>
        </header>
        <section class="news-feed__feed">
            <p class="news-feed__feed__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dignissimos maiores quod voluptatem accusamus enim beatae sunt delectus ipsum praesentium.</p>
            <img class="news-feed__feed__image" src="https://picsum.photos/id/322/600/340" alt="amet">
        </section>
        <footer class="news-feed__footer">
            <div class="news-feed__footer__reaction">
                <i class="ri-thumb-up-fill"></i>
                <i class="ri-heart-fill"></i>
                <i class="ri-emotion-happy-fill"></i>
            </div>
            <div class="news-feed__footer__comments">19 comments</div>
        </footer>
        <div class="news-feed__comment-box">
            <div class="input-box__text">
                <img src="https://picsum.photos/id/302/64/64" alt="" class="create-post__image">
                <label for="create-id">
                    <input type="text" id="create-id" placeholder="Comment as Mohammd?">
                </label>
            </div>
        </div>
    </div>
</div>